*-cli.[ch]
*.1
*.1.html
*.[ao]
AUTOFILES
Makefile
SRCFILES
TARGETS
compile
conf_etc.c
curve25519.h
curve25519.impl
curve25519-*/curve25519.impl
curve25519-*/curve25519.impl.new
curve25519-*/curve25519.impl.check
curve25519-*/curve25519.impl.check.h
curve25519-*/x86cpuid
curve25519-*/x86cpuid.out
design.html
design.info
load
makelib
srlog2
srlog2-keygen
srlog2-logger
srlog2d
srlog2q
tests.sh
